<h3>Portsona Settings</h3>
<form #f="ngForm" (ngSubmit)="save(f.value, f.valid)" novalidate>
  <div class="form-group">
    <label>Name:</label>
    <input type="text" name="name" [(ngModel)]="setting.name" #name="ngModel" required>
    <small [hidden]="name.valid || (name.pristine && !f.submitted)">
      Name is required.
    </small>
  </div>

  <div class="form-group">
    <label>Headline:</label>
    <input type="text" name="headline" [(ngModel)]="setting.headline" #headline="ngModel">
  </div>

  <button type="submit">Update</button>
</form>
